$yellow : #FD7900;

// Mobile
@media (max-width : 768px) {
  .clmnrvrs{
    display: flex;
    flex-direction: column-reverse !important;
  }

  .PaddinTop{
    padding-top: 120px;
  }

  .AboutInfo{
    margin-bottom: 100px;
    h2{
      color: #000;
      font-size: 36px;
      font-family: "Acrom-Bold";
      font-weight: 700;
      margin-bottom: 50px;
      text-align: center;
    }
  
    .row{
      align-items: center;
      
      img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
      }
  
      .texts{
        p{
          color: var(--black, #060606);
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }

  .TransportInfo{
    margin-bottom: 100px;
    h2{
      font-size: 30px;
      font-weight: 700;
    }
    .row{
      // gap: 30px;
      
      .p1{
        padding-right: 15px;
      }
  
      .p2{
        padding-left: 15px;
  
        
  
        p{
          margin-bottom: 40px;
        }
      }
  
      .card-bodyy{
        img{
          width: 100%;
          margin-bottom: 20px;
        }
  
        h3{
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 20px;
        }
  
        .salon-img{
          margin-bottom: 20px;
        }
  
        p{
          font-family: 'Acrom-Light';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #060606;
        }
      }
    }
  }

  .Navbar{
  
    .nav-body{
      ul{
        li{
          a{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }
        .dropdown{
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #FFFFFF;
          cursor: pointer;
          padding: 0;
          
          .tours-drop{
            position: absolute;
            top: 20px;
          }
            
        
        
        }
      }

      .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding-left: 20px;
        background: $yellow;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(100%);
        transition: 0.5s ease-in;
      }

      .nav__active{
        transform: translateX(0);
      }
  
      .nav__toggler{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 9;
        cursor: pointer;
        div{
          width: 2rem;
          height: 0.2rem;
          margin: 0.2rem;
          
        }
        .line3{
          width: 1.5rem;
        }
      }

      .responsive-select{
        display: block;
      }

      .desktop-select{
        display: none;
      }
  
      select{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 39px;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        option{
          color: #000;
        }
      }
  
    }
  }

  .Homehead{
    margin-bottom: 100px;
    .carusel{
      .carusel-item{
        img{
          height: 100vh;
          object-fit: cover;
        }
        .carusel-caption{
          bottom: 43%;
  
          h3{
            font-size: 44px;
            font-weight: 700;
          }
  
          p{
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .ToursCards{
    margin-bottom: 100px;
    .row{
      h2{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .card{
        background: #FFFFFF;
        box-shadow: 0px 262px 105px rgba(0, 0, 0, 0.01), 0px 148px 89px rgba(0, 0, 0, 0.03), 0px 66px 66px rgba(0, 0, 0, 0.05), 0px 16px 36px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        .card-body{
          .d-flex{
            gap: 10px;
            margin-bottom: 15px;
            font-family: 'Acrom-Light';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #060606;
          }
  
          h3{
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
          }
  
          .price{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #060606;
  
            span{
              font-family: "Acrom-Bold";
              font-weight: 600;
            }
          }
  
          .moreBtn {
            width: 120px;
            height: 39px;
            display: flex;
            background: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 20px;
            gap: 10px;
            border: 2px solid #FD7900;
            border-radius: 40px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FD7900;
          }
        }
      }
    }
  }

  .TourInfo{
    margin-bottom: 100px;
    h3{
      color: #000;
      font-size: 30px;
      font-weight: 700;
    }
  
    .row{
      align-items: center;
      
      img{
        width: 100%;
        margin-bottom: 20px;
      }
  
      .card-info-body{
        height: 100%;
      }
  
      .info-body{
        height: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
  
        .texts{
          margin-bottom: 20px;
        }
  
        p{
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #060606;
        }
      }
  
      .info-cards{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
  
        .card{
          padding: 15px 17px;
          gap: 10px;
          border: 1px solid #BDBDBD;
          border-radius: 20px;
  
          .card-body{
            padding: 0;
  
            span{
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;
              color: #060606;
            }
  
            .d-flex{
              margin-bottom: 15px;
              gap: 10px;
              align-items: center;
  
              img{
                width: 22px;
                height: 22px;
                margin: 0;
              }
  
              p{
                margin: 0;
                font-family: "Acrom-Bold";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #060606;
              }
            }
          }
        }
      } 
    }
  }

  .samarqandAboutSection {
    margin-bottom: 120px;
    h2 {
      font-size: 30px;
      font-weight: 700;

    }
    
    .samarqandAboutContent {
    align-items: center;
    div {
      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #060606;
        margin-bottom: 20px !important;
      }

      a {
        button{
          padding: 0 20px;
          width: 120px;
          height: 39px;
          border: 2px solid #FD7900;
          border-radius: 40px;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #FD7900;
          background: none;
        }
      }
    }
    div {
      img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
      }
    }
  }
    
  }

  .ContactForm{
    margin-bottom: 100px ;
    h2{
      color: #000;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }
  
    .row{
      align-items: center;
      form{
        margin-bottom: 20px;
        input {
          height: 39px;
          padding: 10px  20px;
          background: #fff;
          border: 1px solid #828282;
          border-radius: 30px;
          margin-bottom: 20px;
        }
        textarea {
          min-height: 130px;
          padding: 10px 20px;
          background: #fff;
          border: 1px solid #828282;
          border-radius: 30px;
          margin-bottom: 20px;
        }
  
        button {
          width: 131px;
          height: 39px;
          background: #FD7900;
          border: 2px solid #FD7900;
          border-radius: 40px;
  
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #fff;
        }
      }
  
      .contact-info{
        div {
          margin-bottom: 30px;
          h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #060606;
          }
  
          p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #060606;
          }
          a {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #060606;
            margin-bottom: 5px;
          }
        }
      }
    }
  
  }

  .footerSection {
    background: #060606;
    padding: 100px 0;
  
    .footerContent {
      display: block;
      text-align: center;
      justify-content: center;
      div {
        margin-right: 100px;
        &:nth-child(3) {
          margin-right: 0;
        }
  
        h2 {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 20px;
        }
  
        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #fff;
        }
      }
  
      .footerSocialLink {
        display: flex;
        flex-direction: column;
        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 20px;
          
          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
  
      }
    }
  }

  .Footer{
    padding: 100px 0;
    background: var(--black, #060606);
    .footer-body{
      display: block;
      justify-content: center;
      text-align: center;
      gap: 100px;
  
      div{
        p{
          color: var(--white, #FFF);
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  
}

// Tablet

@media (max-width : 992px) {
  
}